<ion-view title="List of Cars" id="page8" style="background-color:#EDEFF0;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="listOfCars-list8" class=" ">
            <ion-item class="item-thumbnail-left  " id="listOfCars-list-item5">
                <h2>Car1 (Name)</h2>
                <p style="white-space:normal;">Details (Maximum of No. of Passenger, Amount, Speed and etc)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="listOfCars-list-item6">
                <h2>Car2 (Name)</h2>
                <p style="white-space:normal;">Details (Maximum of No. of Passenger, Amount, Speed and etc)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="listOfCars-list-item7">
                <h2>Car3 (Name)</h2>
                <p style="white-space:normal;">Details (Maximum of No. of Passenger, Amount, Speed and etc)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="listOfCars-list-item8">
                <h2>Car4 (Name)</h2>
                <p style="white-space:normal;">Details (Maximum of No. of Passenger, Amount, Speed and etc)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="listOfCars-list-item9">
                <h2>Car5 (Name)</h2>
                <p style="white-space:normal;">Details (Maximum of No. of Passenger, Amount, Speed and etc)</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>