<ion-view title="My Rental Record" id="page14" style="background-color:#EDEFF0;" class=" "> 
    <ion-content padding="true" class="has-header">
    <button onclick="window.open('#/profile', '_system', 'location=yes'); return false;" id="profilePage-button17" class=" button button-positive  ">Back</button>
        <ion-list id="myRentalRecord-list15" class=" ">
            <ion-item class="item-icon-left  " id="myRentalRecord-list-item18">
                <i class="icon ion-information-circled"></i>Name of the Car Rented
                <span class="item-note">Date Rented | Date Returned</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="myRentalRecord-list-item10">
                <i class="icon ion-information-circled"></i>Name of the Car Rented
                <span class="item-note">Date Rented | Date Returned</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="myRentalRecord-list-item11">
                <i class="icon ion-information-circled"></i>Name of the Car Rented
                <span class="item-note">Date Rented | Date Returned</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="myRentalRecord-list-item12">
                <i class="icon ion-information-circled"></i>Name of the Car Rented
                <span class="item-note">Date Rented | Date Returned</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="myRentalRecord-list-item13">
                <i class="icon ion-information-circled"></i>Name of the Car Rented
                <span class="item-note">Date Rented | Date Returned</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="myRentalRecord-list-item14">
                <i class="icon ion-information-circled"></i>Name of the Car Rented
                <span class="item-note">Date Rented | Date Returned</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>