<ion-view title="Profile Page" id="page13" style="background-color:#EDEFF0;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="profilePage-form18" class="list ">
            <div class="">
                <img src="img/K08dBoGMTv6a3Oq5SnXk_onwheels_logo.png" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h4 id="profilePage-heading1" style="color:#C71F1F;font-weight:600;text-align:center;" class=" ">Fill up this form to rent a car</h4>
            <div id="profilePage-button-bar2" class=" button-bar "></div>
            <label class="item item-select " id="profilePage-select1">
                <span class="input-label">Select Car</span>
                <select>
                    <option>Select Car To Rent</option>
                </select>
            </label>
            <label class="item item-input " id="profilePage-input16">
                <span class="input-label">Rental Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <button id="profilePage-button17" class=" button button-positive  ">Rent</button>
        <button id="profilePage-button18" class=" button button-assertive  ">Cancel</button>
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <h4 id="profilePage-heading2" style="color:#2A1D1D;font-weight:600;" class=" ">Other options:</h4>
        <button href="#" onclick="window.open('#/RentalRecord', '_system', 'location=yes'); return false;" id="profilePage-button19" class=" button button-dark  button-block button-outline ">View My Rental Record</button>
        <button href="#" onclick="window.open('#/availableCar', '_system', 'location=yes'); return false;" id="profilePage-button20" class=" button button-dark  button-block button-outline ">View Available Cars</button>
        <button href="#" onclick="window.open('#/home', '_system', 'location=yes'); return false;" id="profilePage-button20" class=" button button-dark  button-block button-outline ">Logout</button>
    </ion-content>
</ion-view>