<ion-view title="Signup" id="page7" style="background-color:#EDEFF0;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form13" class="list ">
            <label class="item item-input " id="signup-input7">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Enter Full Name">
            </label>
            <label class="item item-input " id="signup-input8">
                <span class="input-label">Contact No.</span>
                <input type="tel" placeholder="(+639)">
            </label>
            <label class="item item-input " id="signup-input10">
                <span class="input-label">Address</span>
                <input type="text" placeholder="Enter Complete Address">
            </label>
            <label class="item item-input " id="signup-input13">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Enter Complete Address">
            </label>
            <label class="item item-input " id="signup-input14">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Enter Username">
            </label>
            <label class="item item-input " id="signup-input12">
                <span class="input-label">Password</span>
                <input type="text" placeholder="***************">
            </label>
        </form>
        <button id="signup-button12" class=" button button-positive  button-block ">Sign up</button>
        <a href="#" onclick="window.open('#/login', '_system', 'location=yes'); return false;" id="login-button4" style="font-weight:600;" class=" button button-positive  button-block button-clear ">Login now</a>
    </ion-content>
</ion-view>